@charset "UTF-8";

:root{
    --primary: #2E294E;
    --secondary: #FFD400;
    --content: #EADEDA;
    --default: #697268;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--content);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    flex-direction: column;
}
.top{
    background-color: var(--primary);
    width: 100vw;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px var(--secondary);
}
.top img{
    width: 200px;
}
.section-form{
    background-color:white;
    padding: 30px;
    border: 1px solid var(--default);
    
}
.section-form input{
    display: block;
    border: 1px solid var(--default);
    outline: 0;
    padding: 5px;
    width: 400px;
    height: 35px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
}

.section-form a{
    display: block;
    margin-top: 30px;
    color: var(--primary);
    text-decoration: none;
}

.section-form a:hover{
    text-decoration: underline;
}
.section-form input[type=submit]{
    cursor: pointer;
}
