@charset "UTF-8";

:root{
    --primary: #2E294E;
    --secondary: #FFD400;
    --content: #EADEDA;
    --default: #697268;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 5px 20px;
}
body{
    background-color: var(--content);
}

/*NAV-VERTICAL*/
.navbar-vertical{
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}
.navbar-vertical ul{
    list-style: none;
    text-align: center;
}

.navbar-vertical li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
}
.navbar-vertical li:hover{
    background-color: var(--default);
}

/*HEADER*/
.navbar{
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 1px 1px 5px var(--secondary);
}
.navbar-content{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.navbar-content .logo{
    margin-right: 50px;
}

.navbar-content a{
    margin-right: 30px;
    color:  #EADEDA;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navbar-content a:hover{
    color: var(--secondary);
}
.navbar-content input{
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.navbar-content li img{
    width: 30px;
}
.logo{
    width: 200px;
}
/*Feed*/
.content-main{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.feed-editor{
    font-size: 16px;
    width: 600px;
    padding: 20px 70px;
    padding-top: 30px;
    outline: 0;
    resize: none;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.content-main img{
    width: 50px;
    background-color: black;
    border-radius: 50%;
}
.content-main form img{
    width: 50px;
    position: absolute;
    background-color: black;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 50%;
    z-index: 10;
}
i{
    color: black;
    font-size: 30px;
}
.content-main button{
    display: inline;
    position: absolute;
    margin-top: 30px;
    left: 66%;
}
.post{
    border: 1px solid #ddd;
    background-color: white;
    margin-bottom: 20px;
}
.post-header{
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    
}
.post-header img{
  margin-left: -12px;
}
.post-header span:nth-child(2){
    margin-left: 10px;
    font-size: 20px;
}
.post-header span:nth-child(3){
    color: var(--default);
    margin-left: 10px;
    font-size: 15px;
    width: 60%;
}
.post-header span:nth-child(4){
    margin-left: 50px;
    color: var(--default);
    font-size: 14px;
}
.content-post{
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
}
.information-post{
    padding: 20px;
}

.comments-post{
    margin-top: 20px;
   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.comments-post h3{
    width: 100%;
    margin-bottom: 5px;
}
.comments-post input{
    border: 1px solid var(--default);
    outline: 0;
    padding: 5px;
    border-radius: 5px;
    height: 25px;
    margin-left: 10px;
    width: 85%;
}

/*Suggestions*/

.suggestions{
    background-color: var(--primary);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    color: white;
}
.suggestions a{
    color: white;
    text-decoration: none;
}
.suggestions p{
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}